* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
 }

#wrapper{
    background-color: rgb(221, 208, 25);
    padding-right : 300px;
    padding-left : 300px; 
}

    /* ---------Header--------- */
    #oh {
        
        height:40px;
        background-color:#0084ff;
        text-align:center;
        font-size: 28px;
        font-weight: bold;
}
 
header img{
            width: 100%;
}


    /* ----------Body----------- */

main{
    display:flex;
    background-color:#eff1f3;
    padding-left:20px;
}

aside figure{
	display:flex;
	flex-direction:column;
	align-items:center;
    
}
aside img{
	width:200px;
}
aside{
	padding:5px;
    background-color:#7674df;
    height: 100%;
    
}   

nav ul{
    background-color:#7674df;
    text-align: left;
    -top:30px;
    list-style-type: none;


}
   

/* -----------footer----------- */

#ha {
    background-color:#0084ff;
}